%section.pb-50#select-box
  ///// Header MenuBlock /////
  %header.pt-80.pb-10.bg-dark.op-9.header_2
    / Header MenuBlock
    .col-md-4{"data-aos" => "fade-down", "data-aos-delay" => "900", "data-aos-duration" => "600"}
      .container
        .logo.color-white MVページ
    .container
      .mw-620.mx-auto.mt-10.f-22.color-white.op-9.text-center.text-adaptive
        %span{"data-aos" => "fade-down", "data-aos-delay" => "300", "data-aos-duration" => "600"}
        今の「気分」を以下のボックスから選択しよう！
    .container
      / ICON BOXES
      %section#icon-boxes.p-5
        .container 
          / 1行目
          .row.mb-4
            .col-md-4
              .card.bg-danger.text-white.text-center
                .card-body
                  %i.fas.fa-smile.fa-3x
                  %h4 元気になりたい
                  テンションが上がるMV
                  %br
                  = link_to youtube_match_playlist_path(playlist_id: 'PLQ6aFfQOcQBO2zPgf9ru4_DDuNFmycpQa') do
                    %i.fab.fa-youtube.fa-2x
            .col-md-4
              .card.bg-warning.text-white.text-center
                .card-body
                  %i.fas.fa-coffee.fa-3x
                  %h4 ゆったりひととき
                  一息ついて落ち着きたいときのMV
                  %br
                  = link_to youtube_match_playlist_path(playlist_id: 'PLQ6aFfQOcQBPjwabrsAf5cH7UL51X0ODA') do
                    %i.fab.fa-youtube.fa-2x
            .col-md-4
              .card.bg-info.text-white.text-center
                .card-body
                  %i.fas.fa-comments.fa-3x
                  %h4 色鮮やか
                  綺麗で脳が活性化するMV
                  %br
                  = link_to youtube_match_playlist_path(playlist_id: 'PLQ6aFfQOcQBMaKVnqNEiF-8FxEYCAqJpK') do
                    %i.fab.fa-youtube.fa-2x
          / 2行目
          .row.mb-4
            .col-md-4
              .card.bg-success.text-white.text-center
                .card-body
                  %i.fab.fa-apple.fa-3x
                  %h4 幻想的な世界へ
                  不思議で幻想的な世界に入れるMV
                  %br
                  = link_to youtube_match_playlist_path(playlist_id: 'PLQ6aFfQOcQBNVNfg1k9dtNDF-x0DLvPfH') do
                    %i.fab.fa-youtube.fa-2x
            .col-md-4
              .card.bg-secondary.text-white.text-center
                .card-body
                  %i.fab.fa-aviato.fa-3x
                  %h4 病みつきメロディ
                  コードや音階が病みつきになる。リピート必至のMV。
                  %br
                  = link_to youtube_match_playlist_path(playlist_id: 'PLQ6aFfQOcQBO6z6usNEPeGudbOtXQ7IqF') do
                    %i.fab.fa-youtube.fa-2x
            .col-md-4
              .card.bg-info.text-white.text-center
                .card-body
                  %i.fas.fa-coffee.fa-3x
                  %h4 優しい気持ちに
                  優しく温かな気分になれるMV
                  %br
                  = link_to youtube_match_playlist_path(playlist_id: 'PLQ6aFfQOcQBMVQBqb0svBMXPH5EYIcEtp') do
                    %i.fab.fa-youtube.fa-2x