.top-page
  .bg-mask
    .container
      #section.pt-40
        = render 'feelingbox'

      %section.pt-80.pb-100
        -# 再生リストの動画を表示
        .row
          - @playlist_videos.each do |item|
            .col-sm-6.col-md-4
              .card.img-thumbnail
                .embeded-video-responsive
                  %div
                    %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "220", :src => "https://www.youtube.com/embed/#{item[:snippet][:resource_id][:video_id]}", :width => "340"}
                .card-body.px-2.py-3
                  %h5.card-title= item[:snippet][:title]
                  %p.card-text
                    = item[:snippet][:published_at]
                    %br
                    = "再生リストに保存"
                    = link_to youtube_index_path(specific_id: item[:id], snippet: item[:snippet], video_id: item[:snippet][:resource_id][:video_id], playlist_id: item[:snippet][:playlist_id],title: item[:snippet][:title], description: item[:snippet][:description]), :method => :post do 
                      %i.far.fa-file-video.fa-2x
              %br