.top-page
  .bg-mask
    .container
      #section.pt-40.pb-100
        = render 'shared/message'
        .row  
          .col-sm-6.col-md-6
            .card.img-thumbnail
              .embeded-video-responsive
                %div
                  %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :playsinline => "1", :allowfullscreen => "", :frameborder => "0", :height => "220", :src => "https://www.youtube.com/embed/#{@playlist_video[:video_id]}?playsinline=1", :width => "340"}
              .card-body.px-2.py-3
                %h5.card-title= @playlist_video[:title]
                %p.card-text
                  = @playlist_video[:published_at]
          .col-sm-6.md-6
            .card.img-thumbnail
              .card-body.px-2.py-3
                %p
                  %strong= "アーティスト名 -曲名"
                  %br
                  = @playlist_video.title
                  %br
                  %br
                  %strong= "動画概要(Youtubeの概要欄を転載)"
                  %br
                  .grad-wrap
                  %input#trigger1.grad-trigger{:type => "checkbox"}
                  .grad-item
                    -# 改行文字\nを<br>タグに変換
                    = simple_format(@playlist_video.description)
                  %label.grad-btn{:for => "trigger1"}
        %br
        = link_to youtube_match_playlist_path(playlist_id: @playlist_video.playlist_id) do
          %button.btn.action-1.lg MVページへ行く
        = link_to youtube_user_playlist_path do
          %button.btn.action-3.lg Playlistページへ行く
