%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item.active
        %a.nav-link{:href => "/"}
          %i.fas.fa-headphones-alt.fa-2x
          = image_tag '/images/logo1.jpg', alt: 'アプリロゴ',　class: 'navbar-logo'
          %span.sr-only (current)
      %li.nav-item
        %a.nav-link{:href => "/youtube"} MV
      - if user_signed_in?
        %li.nav-item  
          = link_to "Playlist", youtube_user_playlist_path, class: "a nav-link"
      %li.nav-item.dropdown
        %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          ユーザー
        - if user_signed_in?
          .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
            = link_to "プロフィール", edit_user_registration_path , class: "a dropdown-item"
            = link_to "ログアウト", logout_path , class: "a dropdown-item"
            .dropdown-divider
            %a.dropdown-item{:href => "#"} おまけ？
        - else
          .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
            = link_to "ユーザ登録", signup_path , class: "a dropdown-item"
            = link_to "ログイン", login_path , class: "a dropdown-item"
            .dropdown-divider
            %a.dropdown-item{:href => "#"} おまけ？
    %ul.navbar-nav
      %li.nav-item
        - if user_signed_in?
          %strong
            %a.nav-link.disabled{"aria-disabled" => "true", :href => "#", :tabindex => "-1"}= "#{current_user.username}さん、ようこそ"
        - else
          %strong
            %a.nav-link.disabled{"aria-disabled" => "true", :href => "#", :tabindex => "-1"}= "未ログイン状態です"