.top-page
  .bg-mask
    .container
      = render 'shared/message'
    // Boxanimationのsection
    / = render 'boxarea'

    / HOME ICON SECTION
    / = render 'homeicon'
    
    / darkoverlay SECTION
    / = render 'darkoverlay'

    / ABOUT SECTION
    %section#about.py-3
      .container
        .row
          .col-md-8
            %h3 TuningMVアプリとは？
          
            %p.circle-image-first-context
              そのときの「気分」に合ったMV(ミュージックビデオ)をYoutubeから取得し、
              再生できるアプリです。
              %br 元気を出したいときには色鮮やかなMV、落ち着きたい時はしっとりしたMV・・など、あなたの生活にスパイスを！
          .col-md-4
            = image_tag '/images/jacket.jpg', alt: 'アルバムジャケット風',  class: 'circle-image'
        
        .row
          .col-md-4
            = image_tag '/images/park.jpg', alt: '公園', class: 'circle-image'
          .col-md-8
            %p.circle-image-title
              アプリの使い方(MVの再生)
            .circle-image-context
              %p
                %ul
                  %li「MVページ」に移動する
                  %li「気分セレクトボックス」の中から、そのときの気分を選択 !
                  %li するとYoutubeのプレイリストから、選択した「気分セレクトボックス」にマッチングしたMVが取得され、ページに表示される
                  %li MVを楽しもう!! Make fun!!
              
                = link_to youtube_index_path do 
                  %button.btn.action-1.lg MVページ
            
        .row
          .col-md-8
            %p.circle-image-title
              プレイリスト機能
            %p.circle-image-context
              MVページで取得した動画一覧を「プレイリスト」として保存して、「プレイリストページ」で閲覧できます。また作成したプレイリストに「いいね」をつけることもできるぞ！
            %br  
              = link_to "#" do 
                %button.btn.action-1.lg プレイリストページ
          .col-md-4
            = image_tag '/images/skywindow.jpg', alt: '空', class: 'circle-image'

      