.top-page
  .bg-mask
    .container
      = render 'shared/message'

    / ABOUT SECTION
    %section#about.py-3
      .container
        .row
          .col-md-7
            %h3 TuningMVアプリとは？
            %p.circle-image-first-context
              そのときの「気分」に合ったMV(ミュージックビデオ)をYoutubeから取得し、
              再生できるアプリです。
              %br 元気を出したいときにはテンションが上がるMV、落ち着きたい時はゆったりとしたMV・・など、あなたの生活に彩りを！
          .col-md-5
            = image_tag '/images/jacket.jpg', alt: 'アルバムジャケット風',  class: 'circle-image'
        .row
          .col-md-8    
            %p.circle-image-title
              使い方: MVの再生
            .circle-image-context
              %p
                %ul
                  %li「MVページ」に移動する
                  %li「気分セレクトボックス」の中から、そのときの気分を選択 !
                  %li するとYoutubeのプレイリストから、選択した「気分セレクトボックス」にマッチングしたMVが取得され、ページに表示される
                  %li MVを楽しもう!! Make fun!!
            
                = link_to youtube_index_path do 
                  %button.btn.action-1.lg MVページ
          .col-md-4
            %br
            %br
            = image_tag '/images/park.jpg', alt: '公園', class: 'circle-image'
        .row
          .col-md-7
            %p.circle-image-title
              Playlist機能 
            %p.circle-image-context
              MVページで取得した動画を、「自分のPlaylist」に保存できます。
              %br
              作成したPlaylistは以下のページで閲覧できます。
            %br  
              = link_to youtube_user_playlist_path do 
                %button.btn.action-1.lg Playlistページ
          .col-md-5
            %br
            = image_tag '/images/skywindow.jpg', alt: '空', class: 'circle-image'
        

