<div class="top-page">
  <div class="bg-mask">
    <section class="pb-500">
      <div class="container">
        <%= render 'shared/message' %>
          <section class="pb-30">
            <br>
            <h4>ログイン</h4>
            <br>
            <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="form-inputs">
                <%= f.input :username,
                            required: false,
                            autofocus: true,
                            input_html: { autocomplete: "username" } %>
                <%= f.input :password,
                            required: false,
                            input_html: { autocomplete: "current-password" } %>
                <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
                
              </div>

              <div class="form-actions">
                <%= f.button :submit, "Log in", class: "btn action-1 lg my-2 my-sm-10" %>              
              </div>
              <br>
               <strong>   
                <p>ゲストユーザー(仮のユーザー)としてワンクリックでログイン</p>
               </strong>
              <%= link_to "ゲストユーザーでLog in", home_guest_sign_in_path, class: "btn btn-info", method: :post %>
            <% end %>
          </section>
        <strong>
          <%= render "devise/shared/links" %>
        </strong>
      </div>
    </section>
  </div>
</div>
